body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #333333;
    margin: 0;
    padding: 0;
}


h1 {
    margin: 0px 0;
    color: #333;
    background-color: #ffffcc;
    padding: 20px;
}

h2, h3 {
    color: #ccc;
}

.choices-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}


.choice {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #3caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}


.choice:hover {
    background-color: #45a049;
}


.result {
    margin-top: 20px;
    color: #ccc
}


#round-result {
    font-size: 18px;
    margin: 10px 0;
    color: #ccc;
}


.score {
    margin-top: 20px;
}


#player-score, #computer-score {
    font-size: 16px;
    margin: 5px 0;
    color: #ccc;
}

.gameboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 50px;
    
}

.sign img {
    width: 100px;
    height: 100px;

}


