body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}


h1 {
    margin: 20px 0;
    color: #333;
}


.choices {
    margin-top: 20px;
}


